.btn {
    background-color: transparent;
    border:none;
    border-radius: 4px;
    color:white;
    cursor:pointer;
    font-size:12px;
    padding: 7px 10px 7px 10px;

    transition: background-color 0.2s ease;
    transition: color 0.2s ease;

    &:focus{
        outline: none;

    }

    &:hover{
        background-color: darken($color: white, $amount: 20);
        color: black;
    }
    
}


.btn-primary{
    background-color: $primary;
    border-radius: 3px;

    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 20);
    }
}


.btn-block{
    width: 100%;
}


